@{
    Layout = "~/Themes/m.Modamiz/Views/Shared/_ColumnsOne.cshtml";

    //page class
    //Html.AppendPageCssClassParts("html-home-page");
}

<div>
    @Html.Widget("m_home_page_main_slider")
</div>

@Html.Widget("m_home_page_main_banner")@*Bahar Kombinleri*@
@Html.Widget("m_home_page_main_banner_after")@*Tasarım ürünler1 *@

@Html.Widget("m_home_page_main_banner_after_1")@*Mobile Modamiz YENİ KOLEKSİYON*@

